# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [2]:
import pandas as pd
pd.set_option('display.max_columns', 50)
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv',usecols=list(range(1,26)))
df.head(1)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.21696,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.8,Four-Door Car,Medsize,NaN

In [8]:
#solving as query
df.query('total_claim_amount>1000 and response == "Yes"')

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.0,43,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.0,43,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.0,89,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,Suburban,Divorced,181,22.0,79,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.0,5,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.0,96,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.0,91,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.0,96,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,Suburban,Single,210,7.0,24,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.0,5,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [7]:
#solving as with loc
filter_claim = df['total_claim_amount']>1000
filter_marketing = df['response'] == 'Yes'
df.loc[filter_claim&filter_marketing]

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.0,43,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.0,43,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.0,89,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,Suburban,Divorced,181,22.0,79,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.0,5,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.0,96,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.0,91,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.0,96,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,Suburban,Single,210,7.0,24,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.0,5,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [10]:
#solving with .groupby and .get_group
df.groupby(df['total_claim_amount']>1000).get_group(True).groupby('response').get_group('Yes')

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.0,43,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.0,43,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.0,89,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,Suburban,Divorced,181,22.0,79,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.0,5,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.0,96,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.0,91,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.0,96,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,Suburban,Single,210,7.0,24,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.0,5,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [11]:
#solving with pivot table 
pd.pivot_table(df.loc[filter_marketing],index=['policy_type','gender'],values='total_claim_amount',aggfunc='mean')

                       total_claim_amount
policy_type    gender
Corporate Auto F               433.738499
               M               408.582459
Personal Auto  F               452.965929
               M               457.010178
Special Auto   F               453.280164
               M               429.527942

In [14]:
#solving with groupby
df.loc[filter_marketing].groupby(['policy_type','gender'])[['total_claim_amount']].mean()

                       total_claim_amount
policy_type    gender
Corporate Auto F               433.738499
               M               408.582459
Personal Auto  F               452.965929
               M               457.010178
Special Auto   F               453.280164
               M               429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [22]:
states_500 = df['state'].value_counts()[df['state'].value_counts()>500].index

In [23]:
filter_states = df['state'].isin(states_500)
df[filter_states].groupby('state').size()
df[filter_states]['state'].value_counts()
pd.pivot_table(df[filter_states],index='state',columns='customer',aggfunc='count')

           coverage                                                          \
customer    AA10041 AA11235 AA16582 AA30683 AA34092 AA35519 AA56476 AA69265
state
Arizona         NaN     NaN     NaN     NaN     NaN     1.0     2.0     NaN
California      2.0     NaN     NaN     1.0     1.0     NaN     NaN     NaN
Nevada          NaN     2.0     NaN     NaN     NaN     NaN     NaN     1.0
Oregon          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Washington      NaN     NaN     1.0     NaN     NaN     NaN     NaN     NaN

                                                                            \
customer   AA71604 AA93585 AB13432 AB21519 AB23825 AB26022 AB31813 AB45325
state
Arizona        2.0     NaN     NaN     NaN     NaN     NaN     NaN     1.0
California     NaN     1.0     1.0     1.0     1.0     NaN     NaN     NaN
Nevada         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Oregon         NaN     NaN     NaN     NaN     NaN     2.0     NaN     NaN
Washington     NaN     NaN     NaN     NaN     NaN     NaN     1.0     NaN

                                                                            \
customer   AB60627 AB62982 AB69140 AB72731 AB73565 AB78984 AB96670 AB98823
state
Arizona        NaN     NaN     NaN     NaN     NaN     NaN     NaN     1.0
California     1.0     NaN     1.0     1.0     1.0     NaN     1.0     NaN
Nevada         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Oregon         NaN     1.0     NaN     NaN     NaN     1.0     NaN     NaN
Washington     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

                    ... vehicle_type                                          \
customer   AC13887  ...      ZY77695 ZY78741 ZY90118 ZY95807 ZY99878 ZZ20738
state               ...
Arizona        NaN  ...          0.0     NaN     NaN     NaN     NaN     NaN
California     1.0  ...          NaN     1.0     NaN     1.0     1.0     0.0
Nevada         NaN  ...          NaN     NaN     NaN     NaN     NaN     NaN
Oregon         NaN  ...          NaN     NaN     NaN     NaN     NaN     NaN
Washington     NaN  ...          NaN     NaN     1.0     NaN     NaN     NaN

                                                                            \
customer   ZZ22047 ZZ22193 ZZ22858 ZZ31825 ZZ35218 ZZ41158 ZZ42291 ZZ43513
state
Arizona        NaN     NaN     0.0     NaN     NaN     NaN     NaN     NaN
California     NaN     0.0     NaN     NaN     NaN     NaN     1.0     2.0
Nevada         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Oregon         NaN     NaN     NaN     2.0     1.0     NaN     NaN     NaN
Washington     0.0     NaN     NaN     NaN     NaN     0.0     NaN     NaN

                                                                            \
customer   ZZ44902 ZZ49347 ZZ54454 ZZ62245 ZZ68210 ZZ69693 ZZ77357 ZZ83340
state
Arizona        1.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
California     NaN     NaN     NaN     NaN     1.0     1.0     NaN     NaN
Nevada         NaN     NaN     0.0     NaN     NaN     NaN     1.0     NaN
Oregon         NaN     2.0     NaN     1.0     NaN     NaN     NaN     0.0
Washington     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN


customer   ZZ89380 ZZ91716 ZZ97035
state
Arizona        NaN     NaN     NaN
California     NaN     0.0     1.0
Nevada         NaN     NaN     NaN
Oregon         1.0     NaN     NaN
Washington     NaN     NaN     NaN

[5 rows x 210082 columns]

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [26]:
df.groupby(['education','gender'])[['customer_lifetime_value']].agg(['max','min','median'])

                            customer_lifetime_value
                                                max          min       median
education            gender
Bachelor             F                  73225.95652  1904.000852  5640.505303
                     M                  67907.27050  1898.007675  5548.031892
College              F                  61850.18803  1898.683686  5623.611187
                     M                  61134.68307  1918.119700  6005.847375
Doctor               F                  44856.11397  2395.570000  5332.462694
                     M                  32677.34284  2267.604038  5577.669457
High School or Below F                  55277.44589  2144.921535  6039.553187
                     M                  83325.38119  1940.981221  6286.731006
Master               F                  51016.06704  2417.777032  5729.855012
                     M                  50568.25912  2272.307310  5579.099207

In [29]:
df.groupby(['education','gender'])[['customer_lifetime_value']].describe().round(2)

                            customer_lifetime_value                    \
                                              count     mean      std
education            gender
Bachelor             F                       1700.0  7874.27  6614.11
                     M                       1572.0  7703.60  6658.46
College              F                       1608.0  7748.82  6678.30
                     M                       1596.0  8052.46  6716.96
Doctor               F                        200.0  7328.51  6930.56
                     M                        201.0  7415.33  5460.94
High School or Below F                       1590.0  8675.22  7497.85
                     M                       1556.0  8149.69  7190.62
Master               F                        475.0  8157.05  6621.77
                     M                        412.0  8168.83  7362.16


                                 min      25%      50%      75%       max
education            gender
Bachelor             F       1904.00  4118.59  5640.51  8723.24  73225.96
                     M       1898.01  3842.35  5548.03  8646.70  67907.27
College              F       1898.68  3866.80  5623.61  8714.92  61850.19
                     M       1918.12  4035.90  6005.85  9157.76  61134.68
Doctor               F       2395.57  3531.28  5332.46  7662.70  44856.11
                     M       2267.60  3557.37  5577.67  8828.38  32677.34
High School or Below F       2144.92  4158.28  6039.55  9457.34  55277.45
                     M       1940.98  4197.68  6286.73  9002.19  83325.38
Master               F       2417.78  4061.87  5729.86  9264.04  51016.07
                     M       2272.31  3933.03  5579.10  9031.08  50568.26

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [41]:
from datetime import timedelta
timedelta()

datetime.timedelta(0)

In [42]:
df['days_since_policy_inception'] = (df['months_since_policy_inception']*(365/12)).apply(pd.Timedelta,unit='D')

In [43]:
df['policy_creation'] = pd.to_datetime(df['effective_to_date'])-df['days_since_policy_inception']

C:\Users\baort\AppData\Local\Temp\ipykernel_23548\3641605040.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['policy_creation'] = pd.to_datetime(df['effective_to_date'])-df['days_since_policy_inception']

In [44]:
df['month'] = df['policy_creation'].dt.month

In [45]:
pd.pivot(df,index='state',columns='month',values='number_of_policies',aggfunc='sum')

TypeError: pivot() got an unexpected keyword argument 'aggfunc'

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9